<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="footer kisfooter">

    <hr>
  <div class="container ">
    <p class="text-muted">&copy; CoDeWar 2018-2019 | <a href="/">Home</a> | <a href="#">Options</a></p>
  </div>
</footer>
</div><!-- /.container -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/tether/dist/js/tether.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>