<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="footer">

    <hr>
  <div class="container ">
    <p class="text-muted">&copy; Eventica 2018-2019 | <a href="/home">Home</a> | <a href="#">Options</a></p>
  </div>
</footer>
</div>
<!-- /.container -->
<!-- jQuery CDN -->
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<!-- Bootstrap JS CDN -->
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>

<!--Here we have to add javascript code source-->
<!--<script src="/js/script.js"></script>-->
</body>
</html>