<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<footer class="footer footer-content">

    <hr>
  <div class="container ">
    <div class="row">
      <div class="col-5 offset-1 col-sm-2 col-xs-6">
        <h5 style="color:#9d9d9d">Links</h5>
        <ul class="list-unstyled">
          <li><a href="/home">Home</a></li>
          <li><a href="#">Event</a></li>
          <li><a href="#">Calander</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-5 col-xs-6">
        <h5 style="color:#9d9d9d">Our Adress</h5>
        <address style="color: white">
          Block-13, Lovely Professional University<br>
          Phagwara, Punjab<br>
          India 144411<br> 
          <i class=""></i>Phone:<a href="telto:+91-98765XXXXX"> +91-98765XXXXX</a><br>
          <i class=""></i>Fax:<a href="telto:+91-98765XXXXX"> +91-98765XXXXX</a><br>
          <i class=""></i>Email: <a href="mailto:eventevi@lpu.co.in">eventive@lpu.co.in</a>
        </address>
      </div>
      <div class="col-sm align-self-center">
          <div style="text-align:center">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-instagram"></a>
					</div>
				</div>
    </div>
    <div class="row justify-content-center">
				<div class="col-auto">
					<p style="color: #fff">  © Copyright 2019 Eventive</p>
				</div>
		</div>
  </div>
</footer>
<!-- /.container -->
<!-- jQuery CDN -->
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<!-- Bootstrap JS CDN -->
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>

<!--Here we have to add javascript code source-->
<!--<script src="/js/script.js"></script>-->
</body>
</html>