<% include ./partials/header %>
<div class="row">
    <div class="col-sm-12 col-xs-2">
        <div id="caleandar" class="calander-content">

        </div>
    </div>
</div>


<% include ./partials/footer %>